<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <!-- Menu -->

    <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
      <div class="app-brand demo">
        <a href="/perfil" class="app-brand-link">


          <span class="app-brand-text demo menu-text fw-bolder ms-2">Imesul</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
          <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
      </div>

      <div class="menu-inner-shadow"></div>

      <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item active open ">
          <a href="/perfil" class="menu-link">
            <i class='bx bx-user-circle col-lg-2'></i>
            <div data-i18n="Analytics">Perfil</div>
          </a>
        </li>

        <!-- Layouts -->
        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle active">
            <i class="menu-icon tf-icons bx bx-layout"></i>
            <div data-i18n="Layouts">Solicitações</div>
          </a>

          <ul class="menu-sub">
            <li class="menu-item">
              <a href="/form" class="menu-link active">
                <div data-i18n="Without menu active"><i class="bx bx-user me-1"></i>Adicionar solicitação</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="/OrcamentoAtivo" class="menu-link">
                <div data-i18n="Without menu">Relatórios De Solicitações em abertos </div>
              </a>
            </li>

            <li class="menu-item">
              <a href="/OrcamentoConcluido" class="menu-link">

                <div data-i18n="Without menu">Relatórios De Solicitações Finalizados</div>
              </a>
            </li>

          </ul>
        </li>

        <li class="menu-header small text-uppercase">
          <span class="menu-header-text">Pages</span>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-dock-top"></i>
            <div data-i18n="Account Settings">Usuário</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="/addUser" class="menu-link">
                <div data-i18n="Account">Adicionar</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="/tableUser" class="menu-link">
                <div data-i18n="Account">Listar</div>
              </a>
            </li>
          </ul>
        </li>
        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-dock-top"></i>
            <div data-i18n="Account Settings">Empresas</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="/addEmpresa" class="menu-link">
                <div data-i18n="Account">Adicionar</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="/listarEmpresa" class="menu-link">
                <div data-i18n="Account">Listar</div>
              </a>
            </li>

          </ul>
        </li>

        <li class="menu-item">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-dock-top"></i>
            <div data-i18n="Account Settings">Itens</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item">
              <a href="/addItem" class="menu-link">
                <div data-i18n="Account">Adicionar</div>
              </a>
            </li>

            <li class="menu-item">
              <a href="/listarItens" class="menu-link">
                <div data-i18n="Account">Listar</div>
              </a>
            </li>

          </ul>
        </li>
        <!-- Misc -->
        <li class="menu-header small text-uppercase"><span class="menu-header-text">Support Imesul</span></li>
        <li class="menu-item">
          <a class="menu-link" href="/logout">
            <i class=" menu-icon bx bx-power-off "></i>
            <span class="align-middle">Log Out</span>
          </a>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-link">
            <i class="menu-icon tf-icons bx bx-support"></i>
            <div data-i18n="Support">Support</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="#" class="menu-link">
            <i class="menu-icon tf-icons bx bx-file"></i>
            <div data-i18n="Documentation">Documentation</div>
          </a>
        </li>
      </ul>
    </aside>
    <!-- / Menu -->

    <!-- Layout container -->
    <div class="layout-page">
      <!-- Navbar -->

      <nav
        class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
        id="layout-navbar">
        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
          <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="bx bx-menu bx-sm"></i>
          </a>
        </div>

        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
          <!-- Search -->
          <div class="navbar-nav align-items-center">
            <form method="GET" action="#" class="d-flex align-items-center">
              <i class="bx bx-search fs-4 lh-0"></i>
              <input type="text" name="query" class="form-control border-0 shadow-none" placeholder="Pesquisar..."
                aria-label="Pesquisar..." autocomplete="off" />

            </form>
          </div>

          <!-- /Search -->

          <ul class="navbar-nav flex-row align-items-center ms-auto">
            <!-- User -->
            <li class="nav-item navbar-dropdown dropdown-user dropdown">
              <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                <div class="avatar avatar-online">
   
                    <img src="../assets/img/avatars/userRoot.jpg" alt="user-avatar" alt
                      class="w-px-40 h-auto rounded-circle" />

                </div>
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" href="#">
                    <div class="d-flex">
                      <div class="flex-shrink-0 me-3">
                        <div class="avatar avatar-online">

                            <img src="../assets/img/avatars/userRoot.jpg" alt="user-avatar" alt
                              class="w-px-40 h-auto rounded-circle" />


                        </div>
                      </div>
                      <div class="flex-grow-1">
                        <span class="fw-semibold d-block">
                          <%= dados.nome %>
                        </span>
                        <small class="text-muted">Admin</small>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <div class="dropdown-divider"></div>
                </li>
                <li>
                  <a class="dropdown-item" href="/perfil">
                    <i class="bx bx-user me-2"></i>
                    <span class="align-middle">Meu Perfil</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">
                    <i class="bx bx-cog me-2"></i>
                    <span class="align-middle">Config</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:voidd(0)" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasBackdrop" aria-controls="offcanvasBackdrop">
                    <span class="d-flex align-items-center align-middle">
                      <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                      <span class="align-middle">F.Q.A</span>

                    </span>
                  </a>
                </li>
                <li>
                  <div class="dropdown-divider"></div>
                </li>
                <li>
                  <a class="dropdown-item" href="/logout">
                    <i class="bx bx-power-off me-2"></i>
                    <span class="align-middle">Log Out</span>
                  </a>
                </li>
              </ul>
            </li>
            <!--/ User -->
          </ul>
        </div>
      </nav>